body {
    background-color: #85e6c0;
}

.container {
    width: 400px;
    height: 300px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 10px;
}

#email {
    border: 1px solid aquamarine;
    border-radius: 10px;
    display: block;
    margin-top: 10%;
    margin-left: 53%;
    text-align: center;
}

#senha {
    border: 1px solid aquamarine;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-left: 53%;
    margin-top: 10%;
}

button {
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: aquamarine;
    color: white;
    display: block;
    margin-left: 68%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.img {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;

}

p {
    margin-left: 60%;
    border: 1px solid aquamarine;
    border-radius: px;
    background-color: aquamarine;
    color: white;
    text-align: left';
}

.imagens {
    width: 10px;
    height: 1px;
}

#imgum {
    border: 1px solid aquamarine;
    border-radius: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5%;
    margin-top: 2%;
}

#imgtwo {
    border: 1px solid aquamarine;
    border-radius: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5%;
    margin-top: 2%;
}

#imgTree {
    border: 1px solid aquamarine;
    border-radius: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5%;
    margin-top: 2%;

}
